# Core functionality - changes here should be rare!
/src/app.py                   @ranjidmanjid
/src/backend/database.py      @ranjidmanjid
/src/backend/routers/auth.py  @ranjidmanjid

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ranjidmanjid
